@charset "UTF-8";

  /*
    ~ Position
  * static (default): always alligned to the left top corner. Ignores top, bottom, etc.
  * fixed: Won't move when scrolling the page.
  * sticky: Moves when scrolling the page, until reach its determined position (top, left...).
  * relative: Its position is changed with base in its original position. Useful for elements that are inside others.
  * absolute: if it's within a non-static element, its position will be referenced to the father element. If it's within a static element or it doesn't have father elements, it will overlay other elements and stand in the top left position.
  */

div#pallete{
    width: 10%;
    height: 102%;
    position: fixed;
    right: -5px;
    top: -2%;
    /* background-color: aqua; */
    opacity: 1;
}

li.option{
    list-style: none;
    position: relative;
    margin: -5px -20%;
    width: 120%;
    opacity: 1;
    border: solid black 5px;

    transition: border 0.1s;
}

li.option:hover{
  border: solid black 10px;
  
}

form#nc{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  position: fixed;
  top: 40%;
  width: 15%;
  height: 15%;
  left: -5px;
  background-color: rgb(211, 122, 122);
  padding: 10px;
  /* text-align: center; */
  border: 5px solid black;
  border-radius: 4px;
}

form#nc label{
  font-size: 15pt;
  margin-left: -10pt;
  margin-top: -10pt;
  font-weight: bold;
  position: relative;
  left: 10%;
}

form#nc input{
  width: 30%;
  border: none;
  border-bottom: 1px solid black;
  background-color: rgb(211, 122, 122);
  position: relative;
  left: 10%;
}

form#nc button#sendInfo{
  width: 30%;
  height: 50%;
  left: 65%;
  position: relative;
  bottom: 50%;
}